@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}


body{
  background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 9%, rgba(236,149,9,1) 42%, rgba(163,48,233,1) 100%);
}

nav{
  background-color: #c0a5ee;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  position: fixed;
  padding: 15px;
  text-align: center;
}
nav a {
  padding: 5px;
  /* padding adds space in between the icons */
  color: #ffffff; 
}

@media only screen and (max-width: 400px){
/* Above means that when the media only has
  a max width of 400 px you do this code*/
  body{
    background-color: #fff;
  }
}

h1{
  text-align: center;
  color: #fff;
  font-size: 60px;
  padding: 20px;
}

.float-container {
    /* border: 3px solid #fff; */
    height: 250px;
    padding: 20px;
    border-radius:300px;
}

.float-child {
    background-color: #e0e0e1;
    height: 500px;
    width: 47%;
    float: left;
    padding: 20px;
    border: 2px solid white;
    border-radius:250px;
    margin-top:7px;
margin-bottom:75px;
} 
p{
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

img{
  margin: 0 auto;
  display: block;
  max-width:200px;
}

@media only screen and (max-width: 600px){
  .float-child{
    width: 90%;
  }
  p{
    padding: 20px;
    font-size: 17px;
  }
}



@media only screen and (min-width: 1000px){
  .float-child{
    width: 47%;
    float: left;
  }
  .float-container{
    height: 300px;
  }
}
/* .float-card{
  background-color: #e0e0e1;
  height: 200px;
  width: 95%;
  margin: 0 auto;
  display: block;
  border-radius:300px;
  padding: 20px;
}

.float-card2{
  background-color: #e0e0e1;
  float: left;
  height: 200px;
  width: 95%;
  margin: 30px;
  display: block;
  border-radius:300px;
  padding: 20px;
} */

#header{
  background-color: #ffffff;
  height: 300px;
  width: 100%;
  margin: auto;
  border-radius: 0 0 200px 200px;
  position: relative;
  opacity: 50%;
}

h3{
  font-size: 30px;
  margin-top: 50px;
}